@page "{id:int:min(1)}"
@using WebApp.Models
@model WebApp.Pages.Charts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<section style="background-image: url('/images/@Model.ChartDetailsViewModel.DisplayImageUrl'); background-position: center center; background-repeat: no-repeat; background-size: cover; background-blend-mode: darken;">
    <div class="container py-5 text-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">@Model.ChartDetailsViewModel.Title</h1>
                <div class="py-2">
                    <i class="badge bg-primary">Year <em>@Model.ChartDetailsViewModel.Year</em></i>
                    <i class="badge bg-primary">Month <em>@Model.ChartDetailsViewModel.Month</em></i>
                    <i class="badge bg-primary">Week <em>@Model.ChartDetailsViewModel.Week</em></i>
                </div>
                <p class="lead text-muted">@Model.ChartDetailsViewModel.Description</p>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a asp-page="Delete" asp-route-ID="@Model.ChartDetailsViewModel.Id" class="btn btn-outline-danger">Delete chart</a>
                    @if (Model.ChartDetailsViewModel.Songs is not null && Model.ChartDetailsViewModel.Songs.Count > 0)
                    {
                        <a asp-page="Edit" asp-route-ID="@Model.ChartDetailsViewModel.Id" class="btn btn-outline-primary">Edit songs</a>
                    }
                    <a asp-page="Index" class="btn btn-outline-primary">Cancel</a> 
                </div>

            </div>
        </div>
    </div>

</section>

<section class="py-5 bg-light">
    <div class="container">
        @if (Model.ChartDetailsViewModel.Songs is not null && Model.ChartDetailsViewModel.Songs.Count > 0)
        {
            <div class="col-12 d-flex justify-content-between align-items-end">
                <h2 class="h5">Songs</h2>
                <a asp-page="/Songs/Create" asp-route-ChartId="@Model.ChartDetailsViewModel.Id" class="btn btn-link">Add song</a>
            </div>
            <div class="col">
                <table class="table table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th>Track</th>
                            <th>Title</th>
                            <th>Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Song song in Model.ChartDetailsViewModel.Songs)
                        {
                            <tr>
                                <td># @(song.Id)</td>
                                <td>@song.Title</td>
                                <td>@song.Genre</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="col">
                <div class="w-50 mx-auto d-flex flex-column justify-content-center align-items-center gap-2 text-center">
                    <h2 class="display-6">No songs found</h2>
                    <p class="lead">No song was found for this chart at this time.</p>
                    <a asp-page="Edit" asp-route-ID="@Model.ChartDetailsViewModel.Id" class="btn btn-outline-primary">Add song</a>
                </div>
            </div>
        }
    </div>
</section>
